@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #003559;
  font-family: "Mulish", Arial, sans-serif;
  font-weight: 400;
  color: snow;
}

/* GRID START */
.Container {
  background-color: #003559;
}

.Main {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 35vw;
  margin: 0 auto;
}

.Content {
  margin-bottom: 5vw;

}
/* GRID END */

/* ETC START */
.error {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 25vh;
}

.fontSmall {
  font-size: 1.15em;
}

.fontMedium {
  font-size: 1.25em;
}

.fontLarge {
  font-size: 1.5em;
}

.header {
  height: 10vh;
  padding: 2.5vh;
  font-weight: 700;
  text-align: center;
}

.icons {
  margin-top: 5vh;
}

.icons a{
  list-style: none;
  color: #77eebe;
  text-decoration: none;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.icons a:hover{
  color: #4dac86;
  transition: all 0.2s ease-in-out 0s;
}

.signature {
  font-family: "Herr Von Muellerhoff", Arial, sans-serif;;
  margin-top: 3vh;
}
/* ETC END */

/* NAVBAR START */
.navbar-burger {
  display: none;
}

.navbar-container {
  background-color: #003559;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;
}

.navbar-item {
  margin: 0.7em 0;
  padding: 0;
  list-style: none;
  /* font-weight: 600; */
  color: #fff;
  margin-right: 2vw;
  text-decoration-line: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 4px;
}

.navbar-list {
  display: flex;
  float: right;
  color: white;
  justify-content: center;
  text-align: center;
  padding: 1px 3px;
}

.navbar-profile {
  margin-top: 1vh;
  margin-bottom: 4vh;
}

.navbar-profileName span{
  font-weight: 700;
  color: black;
}

.navbar-profileTitle span{
  color: black;
  font-weight: 400;
  font-style: italic;
}

.navbar-resume {
  color: #77eebe;
  border: 1px solid #77eebe;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1;
}

.navbar-resume:hover {
  background-color: transparent;
  /* opacity: 0.2; */
  transition: all 0.3s ease-in-out 0s;
}

.navlink-active {
  color: black;
  --color: #fff;
  background-image: linear-gradient(var(--color) 0%, var(--color) 100%);
  background-repeat: repeat-x;
  background-position: 0 1.1em;
  background-size: 2px 2px;
}

.navlink-li {
  font-weight: bold;
  color: #fff;
}

a.navlink-li {
  position: relative;
  text-decoration: none;
}

a.navlink-li:hover {
  color: gray;
}

.navlink-profile {
  text-decoration: none;
}
/* NAVBAR END */

/* LANDING START */
.landing-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-left: 30vw;
  text-align: left;
}

.landing-small {
  font-size: 2.25em;
}

.landing-medium {
  font-size: 3em;
  font-weight: 600;
}

.landing-big {
  font-size: 4em;
  font-weight: 700;
}
/* LANDING END */

/* ABOUT START */
.about-main {
  display: flex;
  justify-content: center;
}

.about-picture {
  background-image: url("./assets/ProfilePicture.JPG");
  background-size: cover;
  border-radius: 90%;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 10px;
  height: 110px;
  width: 110px;
}

.about-text {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.about-body {
  margin-top: 2.5vh;
  text-align: left;
}
/* ABOUT END */

/* TECH START */
.tech-list {
  display: flex;
  justify-content: space-between;
}

.tech-cat {
  border-bottom: 2px solid snow;
  margin-bottom: 1vh;
  text-align: center;
}

.tech-item {
  justify-content: center;
  text-align: center;
  list-style-type: none;
}

.tech-item li{
  margin-bottom: 2vh;
}

.tech-item li a{
  line-height: 1;
  text-decoration: none;
  color: inherit;
}
/* TECH END */

/* RESUME START */
.resume-container {
  height: 85vh;
}

.resume-img {
  opacity: 1;
  box-shadow: 3px 5px 10px 0px #d2cdc5;
  max-height: 85%;
  transition: box-shadow 0.3s;
}

.resume-img:hover {
  opacity: 1;
  box-shadow: 4px 10px 20px 0px #d2cdc5;
  max-height: 87%;
}
/* RESUME END */

/* CONTACT START */
.contact-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
/* CONTACT END */

/* PORTFOLIO START */
.portfolio-active {
  border-bottom: .15em solid black !important;
}

.portfolio-title {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.portfolio-title li:hover {
  border-bottom: .15em solid black !important;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}

.portfolio-body {
  margin-top: 2.5vh;
}

.portfolio-cat {
  margin: 3vh 2vw 2vh 2vw;
}

.portfolio-video {
  width: 35vw;
  height: auto;
}

.portfolio-img {
  width: 26vw;
  height: auto;
}

.portfolio-tech {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2vh;
  /* margin-left: 2vw;
  margin-right: 2vw; */
}

.portfolio-tech div a{
  text-decoration: none;
  color: inherit;
}

.portfolio-summary {
  margin-top: 4vh;
  color: #a7a7a7;
  margin-left: 2vw;
  margin-right: 2vw;
  text-align-last: left;
}

.portfolio-icon a{
  color: #888888;
  margin-left: 2vw;
}

.portfolio-icon a:hover{
  color: rgb(80, 80, 80);
  transition: all 0.2s ease-in-out 0s;
}
/* PORTFOLIO END */
.highlight {
 color: #77eebe
}
/* MEDIA */
@media screen and (max-width: 1080px) {
  /* landing */
  .landing-small {
    font-size: 1em;
  }

  .landing-medium {
    font-size: 1.75em;
    font-weight: 600;
  }

  .landing-big {
    font-size: 2.5em;
    font-weight: 700;
  }
  /* about */
  .about-text {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;
  }
  /* portfolio */
  .portfolio-body {
    /* width: 100vw; */
    border: none;
    box-shadow: none;
  }
  .portfolio-video {
    width: 90%;
    height: auto;
    max-width: 90vw;
  }
  .portfolio-img {
    width: 65%;
    height: auto;
    max-width: 70vw;
  }
  .fontSmall {
    font-size: 1em;
  }
  .fontMedium {
    font-size: 1.15em;
  }
  .fontLarge {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 720px) {
  .navbar-burger {
    display: flex;
  }

  .navbar-container {
    display: none;
  }

  .navbar-list {
    flex-direction: column;
    margin-top: 20vh;
    justify-content: center;
    text-align: center;
    float: none;
  }

  .about-main {
    margin-top: 0;
  }

  .about-text {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    margin-top: 15vh;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .fontSmall {
    font-size: .9em;
  }
  .fontMedium {
    font-size: 1em;
  }
  .fontLarge {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 550px) {
  .portfolio-title {
    font-size: .8em;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .portfolio-tech {
    font-size: .7em;
  }
  .portfolio-tech div span {
    display: block;
  }

  .resume-container {
    height: auto;
  }
}

@media screen and (max-height: 400px) {
  .header {
    margin-top: 10vh;
  }
}